// @TODO: Replace with Gutenberg variables
$dark-gray-300: #2b2d2f;
$gray-lighten-30: #f6f6f6;

.jp-related-posts-i2 {
	&__row {
		display: flex;
		margin-top: 1.5rem;

		&:first-child {
			margin-top: 0;
		}

		&[data-post-count='3'] .jp-related-posts-i2__post {
			max-width: calc( 33% - 20px );
		}

		&[data-post-count='2'] .jp-related-posts-i2__post,
		&[data-post-count='1'] .jp-related-posts-i2__post {
			max-width: calc( 50% - 20px );
		}
	}

	&__post {
		flex-grow: 1;
		flex-basis: 0;
		margin: 0 10px;
		display: flex;
		flex-direction: column;
	}

	&__post-heading, &__post-img-link, &__post-date, &__post-context {
		display: flex;
		flex-direction: row;
	}

	&__post-img-link, &__post-image-placeholder-icon {
		order: -1;
	}

	&__post-heading {
		margin: 0.5rem 0;
		font-size: 1rem;
		line-height: 1.2rem;
	}

	&__post-link {
		display: block;
		width: 100%;
	}

	&__post-img {
		width: 100%;
	}

	&__post-image-placeholder-icon {
		display: block;
		background: $gray-lighten-30;
		text-align: center;
		padding: 40px 0;
	}

	/* List view */

	&[data-layout='list'] {
		.jp-related-posts-i2__row {
			margin-top: 1rem;
			display: block;
		}
		.jp-related-posts-i2__post {
			max-width: none;
			margin: 0;
			margin-top: 0;
		}
	}
}
